<div class="container">
	<div class="row">
        <%= render 'shared/header' %>
    </div>
    <%= render 'shared/flash' %>
    <p class="about-head">How To Use</p>
    <div class='tabs'>
        <div class='tab-buttons'>
            <span class='content1'>探す</span>
            <span class='content2'>提供</span>
            <span class='content3'>契約</span>
            <div id='lamp' class='content1'></div>
        </div>
        <div class='tab-content'>
            <div class='content1'>
                <p class="content-text">
                    探し方について
                    ・映像クリエイターのスキル・ポートフォリオ・キャリアから自分が望んでいる条件の方に対してアプローチ
					・自分の持ち合わせたスキル・経験から自分に見合った報酬の案件を選び申請
                </p>
            </div>
            <div class='content2'>
                <p class="content-text">
                    提供について
                    ・契約したい映像クリエイターの技術に見合った報酬の案件を提案
                    ・プロフィールにポートフォリオを設定しアピール
                    ・案件に求められた編集内容・納期に見合う自分の技術を提供
                    </p>
            </div>
            <div class='content3'>
                <p class="content-text">
                    契約について
                    ・契約した映像クリエイターからの納品に対し報酬を支払う
                    ・契約した案件の達成による報酬を獲得
                </p>
            </div>
        </div>
    </div>
    <div class='credit'>
    </div>
</div>