<div class="container">
    <div class="row">
        <%= render 'shared/header' %>
    </div>
    <%= render 'shared/flash' %>
    <p class="about-head">How To Use</p>
    <div class='tabs'>
        <div class='tab-buttons'>
            <span class='content1'>Step1</span>
            <span class='content2'>Step2</span>
            <span class='content3'>Step3</span>
            <div id='lamp' class='content1'></div>
        </div>
        <div class='tab-content'>
            <div class='content1'>
                <div class="col-xs-5">
                    <h3 class="text-center">映像クリエイター</h3>
                    <p class="content-text text-center">
                        プロフィールにポートフォリオを設定しアピール<br>
                        案件に求められた編集内容・納期に<br>
                        見合う自分の技術を提供
                    </p>
                    <div class="about-cre1"></div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-5">
                    <h3 class="text-center">Youtuber</h3>
                    <p class="content-text text-center">
                        応募者のプロフィールから<br>
                        条件に見合う映像クリエイターを選定<br>
                    </p>
                    <div class="about-emp1"></div>
                </div>
            </div>
            <div class='content2'>
                <div class="col-xs-5">
                    <h3 class="text-center">映像クリエイター</h3>
                    <p class="content-text text-center">
                        持ち合わせたスキル・経験から自分に<br>
                        見合った報酬の案件を選び申請
                    </p>
                    <div class="about-cre2"></div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-5">
                    <h3 class="text-center">Youtuber</h3>
                    <p class="content-text text-center">
                        契約したい映像クリエイターの<br>
                        技術に見合った報酬の案件を提案
                    </p>
                </div>
            </div>
            <div class='content3'>
                <div class="col-xs-5">
                    <h3 class="text-center">映像クリエイター</h3>
                    <p class="content-text text-center">
                        契約した案件の達成による報酬を獲得
                    </p>
                    <div class="about-cre3"></div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-5">
                    <h3 class="text-center">Youtuber</h3>
                    <p class="content-text text-center">
                        契約した映像クリエイターからの<br>
                        納品に対し報酬を支払う
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='credit'>
    </div>
</div>