<p class="about-head">How To Use</p>
<div class='tabs'>
    <div class='tab-buttons'>
        <span class='content1'>探す</span>
        <span class='content2'>提供</span>
        <span class='content3'>契約</span>
        <div id='lamp' class='content1'></div>
    </div>
    <div class='tab-content'>
        <div class='content1'>
        	<p class="content-text">
        		探し方について
        	</p>
        </div>
        <div class='content2'>
        	<p class="content-text">
        	提供について
        	</p>
        </div>
        <div class='content3'>
        	<p class="content-text">
        	契約について
        	</p>
        </div>
    </div>
</div>
<div class='credit'>
</div>