<div class="container top-box">
    <div class="row">
        <%= render 'shared/header' %>
    </div>
    <%= render 'shared/flash' %>
    <div class="row top-group">
        <%= link_to new_creater_registration_path do %>
        <div class="col-xs-2">
            <div class="creater-invite">
                <h3 class="creater-font"> CREATER</h3>
            </div>
        </div>
        <% end %>
        <div class="col-xs-6"></div>
        <div class="about-text-cre col-xs-4">
            <h1 class="top-text-cre text-center">ークリエイターを探すー</h1>
            <h1 class="top-text-cre text-center">ー案件を提供するー</h1>
            <h1 class="top-text-cre text-center">ー理想の人材と契約ー</h1>
        </div>
    </div>
    <div class="row top-group">
        <div class="about-text-emp col-xs-4">
            <h1 class="top-text-emp text-center">ークライアントを探すー</h1>
            <h1 class="top-text-emp text-center">ースキルを提供するー</h1>
            <h1 class="top-text-emp text-center">ー理想の条件で契約ー</h1>
        </div>
        <div class="col-xs-6"></div>
        <%= link_to new_employer_registration_path do %>
        <div class="col-xs-2">
            <div class="employer-invite">
                <h3 class="employer-font">CLIENT<h3>
            </div>
        </div>
        <% end %>
    </div>
</div>
</div>