<div class="container top-box">
    <div class="row">
        <%= render 'shared/header' %>
    </div>
    <%= render 'shared/flash' %>
    <div class="row top-group">
        <%= link_to new_creater_registration_path do %>
        <div class="col-xs-3 creater-top">
            <div class="creater-invite">
            </div>
            <p class="creater-font text-center">
                映像クリエイター
            </p>
            <div class="emp-text">
                <h1 class="top-text-emp text-center">Youtuberを探す</h1>
                <h1 class="top-text-emp text-center">スキルを提供する</h1>
                <h1 class="top-text-emp text-center">理想の条件で契約</h1>
            </div>
        </div>
        <% end %>
        <div class="col-xs-6"></div>
        <%= link_to new_employer_registration_path do %>
        <div class="col-xs-3 employer-top">
            <div class="cre-text">
                <p class="top-text-cre text-center">映像クリエイターを探す
                </p>
                <p class="top-text-cre text-center">
                    案件を提供する
                </p>
                <p class="top-text-cre text-center">
                    理想の人材と契約
                </p>
            </div>
            <p class="employer-font text-center">
                Youtuber
            </p>
            <div class="employer-invite">
            </div>
        </div>
        <% end %>
    </div>
</div>